

h1{ color: white; font-size: 60px;}
body{background-image:url("pics/2801_full-hd-1080p-abstract-wallpapers-desktop-backgrounds-hd_1920x1080_h.jpg");
;
background-size: cover;}
h2,h3,h5,p,h4{color: white;}
